---
layout: wvmonopage
title: Discitur
tagline: Backstage del progetto
header: Discitur
group: navigation
---
{% include JB/setup %}
         
<h2>Contenuti</h2>

{% comment %}

{% assign pages_list = site.pages %}
<ul>
  {% for node in site.pages %}
    {% if node.title != null %}
      {% if node.group == 'Discitur' %}
      	{% if page.url == node.url %}
      	<li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.header}}</a></li>
      	{% else %}
      	<li><a href="{{ BASE_PATH }}{{node.url}}">{{node.header}}</a></li>
      	{% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
{% endcomment %}

{% include themes/blog/disc-summary.html %}

{% assign myArray = finalSummary | split: "|" %}

<ul style="list-style-type: none;">
  {% for node in myArray sorted %}
    {% assign summaryLine = node | split: "," %}
    {% for prop in summaryLine sorted %}
      {% assign keyval = prop | split: ":" %}
      {% if keyval[0] == 'title' %}
        {% assign title = keyval[1] %}
    	{% endif %}
      {% if keyval[0] == 'url' %}
        {% assign url = keyval[1] %}
    	{% endif %}
  	{% endfor %}
  	{% if page.url == url %}
  	<li class="active"><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
  	{% else %}
  	<li><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
  	{% endif %}

  {% endfor %}


{% comment %}
  

<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>

Discitur<br>
<p>{{pages_list}}</p>
{% endcomment %}

