---
layout: wvmonopage
title: Discitur
tagline: Project Backstage
header: Discitur
group: navigation
---
{% include JB/setup %}

<div class="row">
  <div class="col-md-6">
    
    <h2><img src="http://icons.iconarchive.com/icons/custom-icon-design/flag-2/32/Italy-Flag-icon.png"></img> Abstract</h2>
    <div class="col-md-12">
Discitur è un'<b>applicazione web rivolta ai docenti</b> con l'obiettivo di essere una piattaforma di condivisione delle buone e cattive pratiche di insegnamento, 
analizzandone i pro ed i contro, in modo da poterle riutilizzare e perfezionare con l’applicazione da parte di molti docenti. 
Oltre a questo, è una <b>palestra di apprendimento</b> per la realizzazione di <a href="http://en.wikipedia.org/wiki/Single-page_application" target="_blank">Single Page Application</a> 
con <a href="http://angularjs.org/" target="_blank">Angular.js</a> e di <a href="http://en.wikipedia.org/wiki/Agile_software_development" target="_blank">tecniche Agili di sviluppo software</a>. 
    </div>
  </div>
  <div class="col-md-6">
    <h2><img src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/32/United-Kingdom-flag-icon.png"></img> Abstract</h2>
    <div class="col-md-12">
Discitur is a <b>web application for teachers</b> that aimed to be a platform for sharing good and bad teaching practices, for analyzing pros and cons, 
in order to improve them, thanks to the usage by a lot of teachers in real life.<br/>
Besides that, it's a <b>learning gym</b> for <a href="http://en.wikipedia.org/wiki/Single-page_application" target="_blank">Single Page Application</a> development with 
<a href="http://angularjs.org/" target="_blank">Angular.js</a> and for <a href="http://en.wikipedia.org/wiki/Agile_software_development" target="_blank">Agile software development</a> tecniques.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Applicazione Online</h2>
    <a href="http://williamverdolini.github.io/discitur/" target="blank">Ambiente di test</a>.
  </div>
  <div class="col-md-6">
    <h2>Live Application</h2>
    <a href="http://williamverdolini.github.io/discitur/" target="blank">Test Environment</a>.
  </div>
</div>
         

<div class="row">
  <div class="col-md-6">
    <h2>Contenuti</h2>
    {% include themes/blog/disc-summary.html %}
    
    {% assign myArray = finalSummary | split: "|" %}
    <ul style="list-style-type: none;">
      {% for node in myArray sorted %}
        {% assign summaryLine = node | split: "," %}
        {% for prop in summaryLine sorted %}
          {% assign keyval = prop | split: ":" %}
          {% if keyval[0] == 'title' %}
            {% assign title = keyval[1] %}
        	{% endif %}
          {% if keyval[0] == 'url' %}
            {% assign url = keyval[1] %}
        	{% endif %}
      	{% endfor %}
      	{% if page.url == url %}
      	<li class="active"><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% else %}
      	<li><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% endif %}
    
      {% endfor %}
    </ul>


  </div>
  <div class="col-md-6">
    <h2>Contents</h2>
    {% include themes/blog/disc-summary-en.html %}
    
    {% assign myArray = finalSummary | split: "|" %}
    <ul style="list-style-type: none;">
      {% for node in myArray sorted %}
        {% assign summaryLine = node | split: "," %}
        {% for prop in summaryLine sorted %}
          {% assign keyval = prop | split: ":" %}
          {% if keyval[0] == 'title' %}
            {% assign title = keyval[1] %}
        	{% endif %}
          {% if keyval[0] == 'url' %}
            {% assign url = keyval[1] %}
        	{% endif %}
      	{% endfor %}
      	{% if page.url == url %}
      	<li class="active"><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% else %}
      	<li><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% endif %}
    
      {% endfor %}
    </ul>
    
  </div>
</div>



<h2>Repositories</h2>
<ul>
<li><a href="https://github.com/williamverdolini/discitur-web" target="blank">Front-End Code</a>.</li>
<li><a href="https://github.com/williamverdolini/discitur-api" target="blank">Back-End Code</a>.</li>
</ul>


{% comment %}
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>

Discitur<br>
<p>{{pages_list}}</p>
{% endcomment %}

