---
layout: wvmonopage
title: Discitur
tagline: Backstage del progetto
header: Discitur
group: navigation
---
{% include JB/setup %}

<h2>Abstract</h2>
Discitur è un'<b>applicazione web rivolta ai docenti</b> con l'obiettivo di essere una piattaforma di condivisione delle buone e cattive pratiche di insegnamento, 
analizzandone i pro ed i contro, in modo da poterle riutilizzare e perfezionare con l’applicazione da parte di molti docenti. 
Oltre a questo, è una <b>palestra di apprendimento</b> per la realizzazione di <a href="http://en.wikipedia.org/wiki/Single-page_application" target="_blank">Single Page Application</a> 
con <a href="http://angularjs.org/" target="_blank">Angular.js</a> e di <a href="http://en.wikipedia.org/wiki/Agile_software_development" target="_blank">tecniche Agili di sviluppo software</a>. 

<h2>Live Application</h2>
<a href="http://williamverdolini.github.io/discitur/" target="blank">Ambiente di test</a>.

         
<h2>Contenuti</h2>

{% comment %}

{% assign pages_list = site.pages %}
<ul>
  {% for node in site.pages %}
    {% if node.title != null %}
      {% if node.group == 'Discitur' %}
      	{% if page.url == node.url %}
      	<li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.header}}</a></li>
      	{% else %}
      	<li><a href="{{ BASE_PATH }}{{node.url}}">{{node.header}}</a></li>
      	{% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
{% endcomment %}

{% include themes/blog/disc-summary.html %}

{% assign myArray = finalSummary | split: "|" %}

<ul style="list-style-type: none;">
  {% for node in myArray sorted %}
    {% assign summaryLine = node | split: "," %}
    {% for prop in summaryLine sorted %}
      {% assign keyval = prop | split: ":" %}
      {% if keyval[0] == 'title' %}
        {% assign title = keyval[1] %}
    	{% endif %}
      {% if keyval[0] == 'url' %}
        {% assign url = keyval[1] %}
    	{% endif %}
  	{% endfor %}
  	{% if page.url == url %}
  	<li class="active"><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
  	{% else %}
  	<li><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
  	{% endif %}

  {% endfor %}


{% comment %}
  

<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>

Discitur<br>
<p>{{pages_list}}</p>
{% endcomment %}

