---
layout: wvmonopage
title: Swagger
tagline: Project Backstage
header: Swagger
category: Swagger
group: navigation
---
{% include JB/setup %}

<div class="row">
  <div class="col-md-12">
    <h2><img src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/32/United-Kingdom-flag-icon.png"></img> Abstract</h2>
    <div class="col-md-12">
		These few articles born to share some experiences about Swagger and its tools ecosystem.
    </div>
  </div>
</div>
  

<div class="row">
  <div class="col-md-12">
    <h2>Contents</h2>
    {% include themes/blog/swagger-summary.html %}
    
    {% assign myArray = finalSummary | split: "|"  | sort %}
    <ul style="list-style-type: none;">
      {% for node in myArray %}
        {% assign summaryLine = node | split: ","  | sort %}
        {% for prop in summaryLine %}
          {% assign keyval = prop | split: ":" %}
          {% if keyval[0] == 'title' %}
            {% assign title = keyval[1] %}
        	{% endif %}
          {% if keyval[0] == 'url' %}
            {% assign url = keyval[1] %}
        	{% endif %}
      	{% endfor %}
      	{% if page.url == url %}
      	<li class="active"><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% else %}
      	<li><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% endif %}
    
      {% endfor %}
    </ul>
    
  </div>
</div>

<h2>Technologies</h2>
<ul>
<li>Task Automation: <a href="http://gruntjs.com/" target="_blank">Grunt</a></li>
<li>Back-end: <a href="http://www.asp.net/vnext/overview/aspnet-web-api" target="_blank">.NET Web Api 2.0</a></li>
</ul>


<div class="row">
  <div class="col-md-12">
    <h2>Period</h2>
    <div class="col-md-12">
		July 2016
    </div>
  </div>
</div>

{% comment %}
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>

Fast Catalog<br>
<p>{{pages_list}}</p>
{% endcomment %}

