---
title: Umbraco Custom Macros
tagline: Project Backstage
header: Umbraco Custom Macros
category: Umbraco Custom Macros
group: navigation
---

<div class="row">
  <div class="col-md-12">
    <h2><img src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/32/United-Kingdom-flag-icon.png"></img> Abstract</h2>
    <div class="col-md-12">
The following articles describe some basic steps in order to create custom advanced MVC web application over Umbraco CMS (6.2.4), without hijacking Umbraco, 
but exploiting its capability to add custom Macros to base installation.
    </div>
  </div>
</div>
  

<div class="row">
  <div class="col-md-12">
    <h2>Contents</h2>
    
    {% assign myArray = finalSummary | split: "|"  | sort %}
    <ul style="list-style-type: none;">
      {% for node in myArray %}
        {% assign summaryLine = node | split: ","  | sort %}
        {% for prop in summaryLine %}
          {% assign keyval = prop | split: ":" %}
          {% if keyval[0] == 'title' %}
            {% assign title = keyval[1] %}
        	{% endif %}
          {% if keyval[0] == 'url' %}
            {% assign url = keyval[1] %}
        	{% endif %}
      	{% endfor %}
      	{% if page.url == url %}
      	<li class="active"><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% else %}
      	<li><a href="{{ BASE_PATH }}{{url}}">{{title}}</a></li>
      	{% endif %}
    
      {% endfor %}
    </ul>
    
  </div>
</div>

<h2>Technologies</h2>
<ul>
	<li>UI: <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3.3.1</a></li>
	<li>CMS: <a href="http://umbraco.com/" target="_blank">Umbraco</a> <a href="http://our.umbraco.org/contribute/releases/624" target="_blank">6.2.4</a></li>
	<li>Front-end: <a href="http://www.asp.net/mvc/mvc4" target="_blank">ASP.Net MVC 4</a></li>
	<li>Database: SQL Server 2008 R2 +</li>		  
	<li>Inversion of Control: <a href="http://docs.castleproject.org/Windsor.MainPage.ashx" target="_blank">Castle Windsor</a></li>
	<li>VCS: <a href="http://git-scm.com/" target="_blank">Git</a></li>
</ul>

<h2>Repositories</h2>
<ul>
<li><a href="https://github.com/williamverdolini/Umbraco-CustomMacros" target="blank">Umbraco Custom Macros</a>.</li>
</ul>

<div class="row">
  <div class="col-md-12">
    <h2>Period</h2>
    <div class="col-md-12">
		February 2015
    </div>
  </div>
</div>

{% comment %}
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>

Umbraco Custom Macros<br>
<p>{{pages_list}}</p>
{% endcomment %}

