{% comment %}
-------------------------------------------------------------------
  Definizione dell'indice del blog per il progetto CQRS+ES Todos
-------------------------------------------------------------------
{% endcomment%}


{% assign Summary = "title:1. Intro,url:/cqrses-todos/2014/08/10/cqrses-intro" %}
{% capture finalSummary%}{{Summary}}{% endcapture %}

{% assign Summary = "title:2. CQRS+ES Architecture,url:/cqrses-todos/2014/08/11/cqrses-architecture" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% comment %}
{% assign Summary = "title:2. Introduzione,url:/pages/discitur/2_intro.html" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4. Il Backlog,url:/discitur/2014/01/06/discitur-backlog" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:5. Le Stime,url:/discitur/2014/01/10/discitur-stime" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6. Sprint Planning,url:/discitur/2014/01/14/discitur-sprint_planning" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:7. Industrializzare il Valore,url:/discitur/2014/01/18/discitur-value_env" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:8. In Code We Live,url:/pages/discitur/8_in_code.html" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:9.1 App initialization,url:/discitur/2014/01/20/discitur-appinit,level:1,levelTitle:9. Sprint1 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:9.2 Routing (Deep-Linking),url:/discitur/2014/01/21/discitur-routing,level:1,levelTitle:9. Sprint1 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:9.3 Angular.js TDD,url:/discitur/2014/01/22/discitur-TDD1,level:1,levelTitle:9. Sprint1 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:9.4 Angular DTO,url:/discitur/2014/01/23/discitur-DTO,level:1,levelTitle:9. Sprint1 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:10.1 Test...FE/BE...Static/Dynamic,url:/discitur/2014/01/24/discitur-separation,level:1,levelTitle:10. Sprint2 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:10.2 Climbing Angular.js TDD,url:/discitur/2014/01/26/discitur-Climbing_TDD,level:1,levelTitle:10. Sprint2 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:10.3 Angular.js TDD (QB),url:/discitur/2014/01/27/discitur-TDD_JE,level:1,levelTitle:10. Sprint2 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:10.4 Angular.js Routing,url:/discitur/2014/01/28/discitur-Routing,level:1,levelTitle:10. Sprint2 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:10.5 Pagination (Routing),url:/discitur/2014/01/29/discitur-Pagination,level:1,levelTitle:10. Sprint2 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:10.6 Angular.js Autocomplete,url:/discitur/2014/01/30/discitur-Autocomplete,level:1,levelTitle:10. Sprint2 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:11.1 Refresh happens...,url:/discitur/2014/02/03/discitur-Refresh_happens,level:1,levelTitle:11. Sprint3 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:11.2 Angular Digest Cycle,url:/discitur/2014/02/10/discitur-Digest,level:1,levelTitle:11. Sprint3 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:12.1 Watchers Unbinding,url:/discitur/2014/02/18/discitur-Watchers_unbinding,level:1,levelTitle:12. Sprint4 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:12.2 Angular $chacheFactory,url:/discitur/2014/02/22/discitur-Angular_chacheFactory,level:1,levelTitle:12. Sprint4 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:12.3 Authorized Routing,url:/discitur/2014/02/28/discitur-Authorized_Routing,level:1,levelTitle:12. Sprint4 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:12.4 Bower update,url:/discitur/2014/03/09/discitur-Bower_update,level:1,levelTitle:12. Sprint4 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:13.1 Bootstrap SocialBar,url:/discitur/2014/03/16/discitur-Bootstrap3_SocialBar,level:1,levelTitle:13. Sprint5 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:13.2 CORS,url:/discitur/2014/03/28/discitur-CORS,level:1,levelTitle:13. Sprint5 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:13.2 Deploy con Grunt,url:/discitur/2014/03/30/discitur-Deploy_Grunt,level:1,levelTitle:13. Sprint5 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:14 Release beta! Retrospettiva,url:/discitur/2014/04/10/discitur-beta_retrospective" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}
{% endcomment%}

           