{% comment %}
-------------------------------------------------------------------
  Definizione dell'indice del blog per il progetto CQRS+ES Todos
-------------------------------------------------------------------
{% endcomment%}


{% assign Summary = "title:1. Intro,url:/2014/08/10/cqrses-intro" %}
{% capture finalSummary%}{{Summary}}{% endcapture %}

{% assign Summary = "title:2. CQRS+ES Architecture,url:/2014/08/11/cqrses-architecture" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.1 Command Handling via DI,url:/2014/08/12/cqrses-CommandsDI,level:1,levelTitle:3. Inversion of Control" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.2 Service Locator,url:/2014/08/13/cqrses-CommandsDI-service-locator,level:1,levelTitle:3. Inversion of Control" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.3 Typed Factory,url:/2014/08/14/cqrses-CommandsDI-typed-factory,level:1,levelTitle:3. Inversion of Control" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4. Workers,url:/2014/08/15/cqrses-workers" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:5.1 Set Validation,url:/2014/08/16/cqrses-set-validation,level:1,levelTitle:5. Validation Logic" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:5.2 Have I understood?,url:/2014/08/17/cqrses-validation-understood,level:1,levelTitle:5. Validation Logic" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:5.3 Some concerns,url:/2014/08/18/cqrses-validation-concerns,level:1,levelTitle:5. Validation Logic" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6.1 NEventStore,url:/2014/08/19/cqrses-neventstore,level:1,levelTitle:6. Event Store" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6.2 Aggregate Snapshots,url:/2014/08/20/cqrses-neventstore-snapshots,level:1,levelTitle:6. Event Store" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6.3 Identity Mapping,url:/2014/08/22/cqrses-neventstore-identities,level:1,levelTitle:6. Event Store" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6.4 Legacy Migration,url:/2014/08/31/cqrses-neventstore-migration,level:1,levelTitle:6. Event Store" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6.5 Event Upconversion,url:/2014/10/21/cqrses-neventstore-event-upconversion,level:1,levelTitle:6. Event Store" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}