{% comment %}
-------------------------------------------------------------------
  Definizione dell'indice del blog per il progetto Discitur
-------------------------------------------------------------------
{% endcomment%}


{% assign Summary = "title:1. Premessa,url:/pages/discitur/1_index.html" %}
{% capture finalSummary%}{{Summary}}{% endcapture %}

{% assign Summary = "title:2. Introduzione,url:/pages/discitur/2_intro.html" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3. Prerequisiti,url:/2014/01/05/discitur-prerequisiti" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4. Il Backlog,url:/2014/01/06/discitur-backlog" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:5. Le Stime,url:/2014/01/10/discitur-stime" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6. Sprint Planning,url:/2014/01/14/discitur-sprint_planning" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:7. Industrializzare il Valore,url:/2014/01/18/discitur-value_env" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:8. In Code We Live,url:/pages/discitur/8_in_code.html" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:9.1 App initialization,url:/2014/01/20/discitur-appinit,level:1,levelTitle:9. Sprint1 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:9.2 Routing (Deep-Linking),url:/2014/01/21/discitur-routing,level:1,levelTitle:9. Sprint1 Review" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}
           