{% comment %}
-------------------------------------------------------------------
  Definizione dell'indice del blog per il progetto FastCatalog
-------------------------------------------------------------------
{% endcomment%}

{% assign Summary = "title:1. Intro,url:/2015/06/08/fastcatalog-intro" %}
{% capture finalSummary%}{{Summary}}{% endcapture %}

{% assign Summary = "title:2. SQL Migration to NoSQL,url:/2015/06/14/fastcatalog-sql2nosql" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.1 MongoDb Client,url:/2015/06/22/fastcatalog-sql2mongo,level:1,levelTitle:3. NoSQL Clients" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.2 ElasticSearch Client,url:/2015/06/24/fastcatalog-sql2elastic,level:1,levelTitle:3. NoSQL Clients" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}


{% comment %}

{% assign Summary = "title:3. MongoDb Client,url:/2015/06/22/fastcatalog-sql2mongo" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.1 MVC Controller Factory,url:/2015/02/04/umbmacro-controllerfact,level:1,levelTitle:3. Dependency Injection" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.2 Properties Injection in MVC Filters,url:/2015/02/05/umbmacro-prop-inj-filters,level:1,levelTitle:3. Dependency Injection" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4. Macro's Anatomy,url:/2015/02/06/umbmacro-anatomy" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:5. Chinese-boxes Partial Views,url:/2015/02/07/umbmacro-views" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:6 Properties Configurability,url:/2015/02/08/umbmacro-properties" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}
{% endcomment%}
