{% comment %}
-------------------------------------------------------------------
  Definizione dell'indice del blog per il progetto FastCatalog
-------------------------------------------------------------------
{% endcomment%}

{% assign Summary = "title:1. OpenAPI,url:/2015/06/08/fastcatalog-intro" %}
{% capture finalSummary%}{{Summary}}{% endcapture %}

{% assign Summary = "title:2. Swagger or SwashBuckle in .NET" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.1 MongoDb Client,url:/2015/06/22/fastcatalog-sql2mongo,level:1,levelTitle:3. NoSQL Clients" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.2 ElasticSearch Client,url:/2015/06/24/fastcatalog-sql2elastic,level:1,levelTitle:3. NoSQL Clients" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4.1 ...with ElasticSearch,url:/2015/07/26/fastcatalog-web-elastic,level:1,levelTitle:4. Multi-attribute Search..." %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4.2 ...with MongoDb,url:/2015/07/31/fastcatalog-web-mongodb,level:1,levelTitle:4. Multi-attribute Search..." %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:5.1 Automapper,url:/2015/08/01/fastcatalog-web-automapper,level:1,levelTitle:5. Other libraries" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% comment %}
{% assign Summary = "title:5.2 Angular Material,url:/2015/08/01/fastcatalog-web-material,level:1,levelTitle:5. Other libraries" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% endcomment%}
