{% include themes/blog/umbracoup-summary.html %}

{% assign myArray = finalSummary | split: "|" %}

<div class="list-group disc-summary" >
  <li class="list-group-item list-group-item-warning"><b>Contents</b></li>
  {% assign prevLevel = 0 %}
  {% assign prevLevelTitle = "" %}
  {% assign level = 0 %}
  {% assign _i = 0 %}
  {% for node in myArray sorted %}

    {% assign _i = _i | plus: 1 %}
    {% assign level = 0 %}
    {% assign summaryLine = node | split: "," %}
    {% for prop in summaryLine sorted %}

      {% assign keyval = prop | split: ":" %}
      {% if keyval[0] == 'title' %}
        {% assign title = keyval[1] %}
    	{% endif %}
      {% if keyval[0] == 'url' %}
        {% assign url = keyval[1] %}
    	{% endif %}
      {% if keyval[0] == 'level' %}
        {% assign level = keyval[1] %}
    	{% endif %}
      {% if keyval[0] == 'levelTitle' %}
        {% assign levelTitle = keyval[1] %}
    	{% endif %}
  	{% endfor %}

  	{% if level == 0 and prevLevel != 0%}
		{% assign prevLevel = 0 %}
        </div>
      </div>
  	{% endif %}


  	{% if level != 0 and prevLevelTitle != levelTitle %}

    	{% if prevLevel != 0 %}
        </div>
      </div>
    	{% endif %}

  	
  	
      {% assign prevLevelTitle = levelTitle %}
      {% assign prevLevel = level %}
    <div class="list-group-item" style="border-bottom-width: 0px;">{{levelTitle}}<span class="glyphicon glyphicon-chevron-down pull-right"></span></div>
    <div class="panel panel-default list-group-item" style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;margin-bottom: -1px;">
      <div class="list-group">
  	{% endif %}
  	
  	{% if page.url == url %}
  	<a class="list-group-item active" href="{{ BASE_PATH }}{{url}}">{{title}}</a>
  	{% else %}
  	<a class="list-group-item" href="{{ BASE_PATH }}{{url}}">{{title}}</a>
  	{% endif %}

  	{% if _i == myArray.size and level != 0 %}
      </div>
    </div>
  	{% endif %}




  {% endfor %}

</div>
           