{% comment %}
-------------------------------------------------------------------
  Definizione dell'indice del blog per il progetto CQRS+ES Todos
-------------------------------------------------------------------
{% endcomment%}


{% assign Summary = "title:1. Intro,url:/2014/12/01/umbup-intro" %}
{% capture finalSummary%}{{Summary}}{% endcapture %}

{% assign Summary = "title:2. The Upgrade Process,url:/2014/12/02/umbup-process" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.1 Umbraco Installation,url:/2014/12/03/umbup-installation,level:1,levelTitle:3. Upgrade to 7.1.8" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.2 Manual Upgrade to 7.1.8 version,url:/2014/12/04/umbup-718-manual-upgrade,level:1,levelTitle:3. Upgrade to 7.1.8" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:3.3 First Prototype retrospective,url:/2014/12/05/umbup-retrospective,level:1,levelTitle:3. Upgrade to 7.1.8" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4.1 Manual Upgrade to 6.2.4 version,url:/2014/12/06/umbup-624-manual-upgrade,level:1,levelTitle:4. Upgrade to 6.2.4" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}

{% assign Summary = "title:4.2 Some consideration,url:/2014/12/07/umbup-consideration,level:1,levelTitle:4. Upgrade to 6.2.4" %}
{% capture finalSummary%}{{finalSummary}}|{{Summary}}{% endcapture %}